.container{
  background-color: #FFF;
  border-radius: 10px;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .15);
  animation-name: showin;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}

@media (max-width: 992px){

    .container{
        width: 100%;
        height: 100%;
        border-radius: 0;
        animation-name: showout;
    }

}

@keyframes showin{
  
  from { 
    transform: scale(1.1);
    opacity: 0;
  } to {
    transform: scale(1);
    opacity: 1;
  };

}

@keyframes showout{
  
  from { 
    transform: scale(0.9);
    opacity: 0;
  } to {
    transform: scale(1);
    opacity: 1;
  };

}